@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.header {
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.box {
    height: fit-content;
    border: 1px gray solid;
    border-radius: 1.25rem;
    padding: 10px;
    width: 50vw;
    margin: 5px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
    font-size: 18px;
}
table {
    width:100%;
}

.gray-row {
    background-color: lightgray;
}

.header-row {
    background-color:darkgray;
}

.centered {
    text-align: center;
}
#link-style {
    text-decoration: none;
    color: black;
}
* {
    scroll-behavior: smooth;
}
.link {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    color: rgb(0, 89, 255);
    transition: color 0.3s ease-in-out;
}
.link:hover {
    color: magenta
}
.link:active {
    color: purple;
}
canvas {
    height: 200px;
}